
body{
    background-color: lightgreen;
}
.main{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    
}
.head{
    text-decoration: none;
    margin: 30px;
}
.header{
    margin-top: 15px;
    text-align: right;
    display: block;
}
#border{
    padding: 10px;
    border: 1px lightgreen solid;
    border-radius: 10px;
}
.head:hover{
    text-decoration: underline;
}
.about{
    margin-left: 5%;
    margin-top: 5%;
    display: flex;

}
.about, .head{
    font-family: Arial;
    font-size: 20px;
}
.about #border{
    text-decoration: none;
    background-color: lightgreen;
}
.about #border:hover{
    text-decoration: none;
    background-color: white;
}
.text{
    
    width: 70%;
}
.image{
    
    border-radius: 10px;
    width: 30%;
    margin-top: -50px;
    margin-right: 5%;
    
}
#myimage{
    border-radius: 10px;
    width: 90%;
    float: right;
    
}
#works{
    border: 0;
    background-color: white;
}
footer{
    justify-content: center;
    text-align: center;
    font-family: Arial;
    border-radius: 10px;
    background-color: lightgrey;
    padding-top: 10px;
}
.share{
    display: flex;
    justify-content: center;
}
.share img{
    width: 50px;
    height: 50px;
    margin: 5px;
}



@media only screen and (max-width: 768px) {
    .head{
        margin: 0;
        margin-bottom: 30px;
    }
    #myimage{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .col {
        flex: 0 0 25%;
    }
}