@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

body {
  background-color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
  align-items: center;
}
.aside {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  display: block;
  border: 1px solid white;
}
#profile {
  display: flex;
  margin-top: 200px;
  justify-content: space-between;
}
#profile img {
  margin-right: 100px;
}
header {
  font-size: 18px;
}
nav a {
  color: #6b7280;

  text-decoration: none;
}
#serv {
  margin-right: 77px;
}
#works {
  margin-right: 77px;
}
#blog {
  margin-right: 75px;
}
#hire {
  position: relative;
  color: #3730a3;
  padding: 13px 32px 13px 32px;
  border-radius: 6px;
  border: 1px solid #3730a3;
  transition: all 0.2s;
}

#hire:hover {
  background-color: #3730a3;
  color: white;
}
#line {
  align-items: center;
  display: flex;
  width: fit-content;
}
#line hr {
  display: inline-block;
  width: 100px;
}
nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 118px;
  margin-right: 128px;
}
.about {
  margin-left: 130px;
}
.about p {
  color: #6b7280;
  font-size: 18px;
}
#logo {
  color: #1f2937;
  position: relative;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  font-size: 72px;
}
#name {
  color: #3730a3;
  display: inline-block;
}
#title {
  margin-top: 150px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 200px;
}
#title span {
  color: #3730a3;
}
.specification {
  display: flex;
  margin-left: 12%;
  flex-direction: row;
}
.specification img {
  margin-right: 2%;
}
.skills {
  display: flex;
  margin-right: 5%;
  flex-wrap: wrap;
}
.skills div {
  font-size: 14px;
  width: 50%;
  max-height: min-content;
}
.skills a {
  text-decoration: none;
  color: #3730a3;
  font-weight: 900;
}
.trusted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fef2f2;
  color: #9ca3af;
  font-size: 20px;
  height: 300px;
}
.imgproject p {
  margin-bottom: 100px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
#photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#row {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
#column {
  margin-right: 30px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
#projectlink {
  display: flex;
  height: 10%;
  width: 475px;
  bottom: 30px;
  left: 30px;
  position: absolute;
  background-color: white;
}
.imgproject #projectlink p {
  font-weight: 100;
  font-size: 18px;
  text-align: start;
  margin-left: 30px;
  margin-top: 25px;
}
.imgproject #projectlink p span {
  font-size: 14px;
  color: #9ca3af;
}
#projectlink img {
  display: flex;
  align-items: center;
  position: absolute;
  display: inline-block;
  right: 30px;
}
#prlinkimg {
  display: flex;
  align-items: center;
}
#prlinkimg a {
  display: flex;
  align-items: center;
}
#imgunder {
  display: flex;
  position: relative;
}
#planning {
  margin: 0 160px;
  margin-top: 150px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: row;
}
#planning p {
  font-size: 30px;
}
#planning p span {
  font-size: 18px;
  color: #9ca3af;
}
#careers p {
  text-align: center;
  font-size: 48px;
}
#careers div {
  display: flex;
  justify-content: space-between;
  margin: 0 75px;
}
#company,
#position,
#year {
  display: inline-block;
  flex-direction: column;
}
#company p,
#position p,
#year p {
  margin: 30px;
  text-align: left;
  font-size: 16px;
  color: #6b7280;
}
#company p span,
#position p span,
#year p span {
  font-weight: 600;
}
footer {
  margin-top: 100px;
  background-color: #fef2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
}
footer span {
  text-align: center;
  font-size: 18px;
  color: #9ca3af;
  margin-bottom: 50px;
}
footer img {
  margin-bottom: 100px;
}
#contacts {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  body {
    margin: 0 2%;
  }
  nav {
    margin: 0;
    margin-top: 5%;
  }
  #profile {
    margin: 0;
    margin-top: 10%;
  }
  .about {
    margin: 0;
    margin-right: 2%;
  }
  #logo {
    line-height: 60px;
    margin: 0;
    font-size: 60px;
  }
  #name {
    margin: 0;
  }
  #profile img {
    margin: 0;
    max-width: 100%;
  }
  #title {
    margin: 0 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 35px;
  }
  .specification {
    margin: 0;
    margin-bottom: 2%;
  }
  .trusted {
    padding: 5%;
    margin: 0;
    height: 150px;
  }
  .trusted img {
    max-width: 100%;
  }
  #photos img {
    max-width: 100%;
  }
  #projectlink {
    max-width: 85%;
  }
  #projectlink {
    display: flex;
    align-items: center;
  }
  #prlinkimg {
    display: flex;
    align-items: center;
  }

  .imgproject p {
    margin-bottom: 0;
  }
  .imgproject #projectlink p {
    margin-top: 10px;
  }
  #planning {
    margin: 0 5%;
    margin-top: 5%;
  }
  #careers div {
    margin: 0 5%;
  }
}
@media only screen and (min-width: 551px) and (max-width: 768px) {
  body {
    margin: 0 2%;
    background-color: white;
  }
  header {
    margin: 0;
  }
  nav {
    margin: 0;
  }
  #serv,
  #works,
  #blog,
  #hire {
    margin: 3%;
  }
  #hire {
    padding: 1%;
  }
  #profile {
    flex-direction: column;
    margin-top: 2%;
  }
  #profile img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: max-content;
  }
  .about {
    margin-left: 1%;
  }
  .about p {
    text-align: center;
    font-size: 14px;
  }
  #logo {
    text-align: center;
    line-height: 20px;
    margin: 0%;
    font-size: 18px;
  }
  #title {
    margin: 3% 0;
    font-size: 20px;
  }
  .specification {
    margin: 0%;
    flex-direction: column;
  }
  .specification img {
    object-fit: cover;
    height: 250px;
    margin: 0%;
  }
  .skills {
    margin: 0%;
    text-align: center;
  }
  .skills p {
    font-size: 8px;
  }
  .trusted {
    margin-top: 0%;
    margin-bottom: 0%;
    height: auto;
    align-items: flex-start;
  }
  .trusted p {
    font-size: 14px;
  }
  .trusted img {
    width: 100%;
  }
  .imgproject p {
    font-size: 18px;
    margin-bottom: 5%;
  }
  .imgproject img {
    max-width: 100%;
  }
  #projectlink {
    max-width: 80%;
    height: auto;
  }
  .imgproject #projectlink p {
    margin: 3%;
  }
  #projectlink img {
    right: 0;
  }
  #row {
    margin-bottom: 2%;
  }
  #column {
    margin-right: 2%;
  }
  #planning {
    margin: 0%;
    margin-top: 2%;
  }
  #planning img {
    width: 90%;
  }
  #planning p {
    font-size: 18px;
  }
  #planning p span {
    font-size: 12px;
  }
  #careers div {
    margin: 0%;
    margin-right: 1%;
  }

  #company p,
  #position p,
  #year p {
    margin: 5%;
  }
  footer {
    margin-top: 5%;
  }
  footer p {
    margin: 2%;
    font-size: 20px;
  }
  footer span {
    font-size: 14px;
    margin: 1%;
    margin-bottom: 5%;
  }
  footer img {
    margin-bottom: 10%;
    width: 100%;
  }
}
@media only screen and (min-width: 250px) and (max-width: 550px) {
  body {
    margin: 0 2%;
    background-color: white;
  }
  header {
    font-size: 16px;
    margin: 0;
  }
  nav {
    margin: 0;
  }
  #serv,
  #works,
  #blog,
  #hire {
    margin: 3%;
  }
  #hire {
    padding: 1%;
  }
  #profile {
    flex-direction: column;
    margin-top: 2%;
  }
  #profile img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }
  .about {
    margin-left: 1%;
  }
  .about p {
    font-size: 14px;
  }
  #logo {
    line-height: 20px;
    margin: 0%;
    font-size: 18px;
  }
  #title {
    margin: 3% 0;
    font-size: 20px;
  }
  .specification {
    margin: 0%;
    flex-direction: column;
  }
  .specification img {
    object-fit: cover;
    height: 250px;
    margin: 0%;
  }
  .skills {
    margin: 0%;
    text-align: center;
  }
  .skills p {
    font-size: 8px;
  }
  .trusted {
    margin-top: 0%;
    margin-bottom: 0%;
    height: auto;
    align-items: flex-start;
  }
  .trusted p {
    font-size: 14px;
  }
  .trusted img {
    width: 100%;
  }
  .imgproject p {
    font-size: 18px;
    margin-bottom: 5%;
  }
  .imgproject img {
    max-width: 100%;
  }
  #projectlink {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    left: 5%;
  }
  #projectlink img {
    display: none;
  }
  .imgproject #projectlink p {
    font-size: 10px;
    margin: 0;
  }
  .imgproject #projectlink p span {
    font-size: 8px;
  }
  #row {
    margin-bottom: 2%;
  }
  #column {
    margin-right: 2%;
  }
  #planning {
    margin: 0%;
    margin-top: 2%;
  }
  #planning img {
    width: 90%;
  }
  #planning p {
    font-size: 18px;
  }
  #planning p span {
    font-size: 12px;
  }
  #careers div {
    margin: 0%;
    margin-right: 1%;
  }

  #company p,
  #position p,
  #year p {
    margin: 5%;
  }
  footer {
    margin-top: 5%;
  }
  footer p {
    margin: 2%;
    font-size: 20px;
  }
  footer span {
    font-size: 14px;
    margin: 1%;
    margin-bottom: 5%;
  }
  footer img {
    margin-bottom: 10%;
    width: 100%;
  }
}
