@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

body {
  background-color: black;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.aside {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  display: block;
  border: 1px solid white;
}
header {
  font-size: 18px;
}
nav a {
  color: #6b7280;

  text-decoration: none;
}
#serv {
  margin-right: 77px;
}
#works {
  margin-right: 77px;
}
#blog {
  margin-right: 75px;
}
#hire {
  position: relative;
  color: #3730a3;
  padding: 13px 32px 13px 32px;
  border-radius: 6px;
  border: 1px solid #3730a3;
  transition: all 0.2s;
}

#hire:hover {
  background-color: #3730a3;
  color: white;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 118px;
  margin-right: 128px;
}
.about {
  margin-top: 220px;
  margin-left: 130px;
}
.about p {
  color: black;
  font-size: 20px;
  
}
#logo {
  color: #1f2937;
  position: relative;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  font-size: 72px;
}

hr{
  border: 1px solid red;
}
#name{
  color: #3730a3;
}
#title{
  margin-top: 150px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 200px;
}
#title span{
  color: #3730a3;
}
.specification{
  display: flex;
  margin-left: 12%;
  flex-direction: row;
}
.specification img{
  margin-right: 2%;
}
.skills{
  display: flex;
  margin-right: 5%;
  flex-wrap: wrap;
  
}
.skills div{
  font-size: 12px;
  width: 50%;
  max-height:min-content;
}